<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="loggingPath" source="logging.path"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">

            <highlighting>
                <mappings>
                    <mapping level="ERROR" foreground="RED" background="WHITE" />
                    <mapping level="WARN"  foreground="YELLOW" background="BLUE" />
                    <mapping level="INFO"  foreground="WHITE" background="GREEN" />
                </mappings>
            </highlighting>

            <Pattern>
                %highlight(%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}) - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>
